.app {
  padding: 20px;
  overflow: hidden;
}                                                                                                                                                                                                                                                                                    transform: translateX(-1000);
                                                                                                                                                                                                                                                                                                }

                                                                                                                                                                                                                                                                                                @keyframes slideRight {
                                                                                                                                                                                                                                                                                                  from {
                                                                                                                                                                                                                                                                                                    transform: translateX(-1000);
                                                                                                                                                                                                                                                                                                  }

                                                                                                                                                                                                                                                                                                  to {
                                                                                                                                                                                                                                                                                                    transform: translateX(0);
                                                                                                                                                                                                                                                                                                  }
                                                                                                                                                                                                                                                                                                }*/
