<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="corn-quality-table"></div>
    <script id="corn-quality-table-tpl" type="text/html">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Признаки качества зерна</th>
            <th>Фактическое качество зерна</th>
            <th>Расчет влияния качества зерна на выход продукции</th>
            <th>Манная крупа</th>
            <th>
              <table>
                <tr>
                  <td>Мука, крупа</td>
                </tr>
                <tr>
                  <td>В/C</td>
                  <td>1C</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </th>
            <th>Итого продукции</th>
            <th>Кормовая мука</th>
            <th>Отходы кормовые</th>
            <th>Негодн. отх и механ. пот.</th>
            <th>Усушка</th>
            <th>Итого</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td>Базисный выход, в %</td>
            <td>-</td>
            <td>50</td>
            <td>25</td>
            <td></td>
            <td></td>
            <td>75</td>
            <td>22</td>
            <td></td>
            <td>2.2</td>
            <td></td>
            <td>0.8</td>
            <td></td>
            <td>100</td>
          </tr>
          <tr>
            <td>Влажность</td>
            <td>{{ humidity }}</td>
            <td>{{ p1 }}</td>
            <td></td>
            <td>{{ z1b }}</td>
            <td>{{ z11 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{ x1 }}</td>
            <td>{{ y1 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
          </tr>
          <tr>
            <td>Зерновая примесь</td>
            <td>{{ cornMixin }}</td>
            <td>{{ p2 }}</td>
            <td></td>
            <td>{{ z2b }}</td>
            <td>{{ z21 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{ x2 }}</td>
            <td>{{ y2 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
          </tr>
          <tr>
            <td>Зерновая примесь</td>
            <td>{{ cornMixin2 }}</td>
            <td>{{ p3 }}</td>
            <td></td>
            <td>{{ z3b }}</td>
            <td>{{ z31 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{ x3 }}</td>
            <td>{{ y3 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
          </tr>
          <tr>
            <td>Сорная примесь</td>
            <td>{{ weedMixin }}</td>
            <td>{{ p4 }}</td>
            <td></td>
            <td>{{ z4b }}</td>
            <td>{{ z41 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{ x4 }}</td>
            <td>{{ y4 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
          </tr>
          <tr>
            <td>Стекловидность</td>
            <td>{{ vitrescence }}</td>
            <td>{{ p5 }}</td>
            <td></td>
            <td>{{ z5b }}</td>
            <td>{{ z51 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{ x5 }}</td>
            <td>{{ y5 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
          </tr>
          <tr>
            <td>Натура</td>
            <td>{{ nature }}</td>
            <td>{{ p6 }}</td>
            <td></td>
            <td>{{ z6b }}</td>
            <td>{{ z61 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{ x6 }}</td>
            <td>{{ y6 }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
            <td>{{  }}</td>
          </tr>
        </tbody>
      </table>
    </script>
    <script>require('./renderer/details.js')</script>
  </body>
</html>
